<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head xmlns:th="http://www.thymeleaf.org">
    <meta charset="UTF-8">
    <title>Shop</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th> Title </th>
        <th> Author </th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${product}">
        <td colspan="3"> No Books Available </td>
    </tr>
    <tr th:each="prod : ${product}">
        <td><span th:text="${prod.id}">id</span></td>
        <td><span th:text="${prod.title}"> Title </span></td>
        <td><span th:text="${prod.price}"> Price </span></td>
    </tr>
    </tbody>
</table>
</body>
</html>